body {
    background-color: rgb(105, 104, 104);
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(61, 57, 61, 0.144);
    color: white;
    padding: 5px;
    margin-bottom: -25px;
    text-decoration: underline;
    font-size: 45px;
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(194, 138, 138);
    padding: 50px;
}

.results {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.playerScore {
    padding: 25px;
    font-size: 22px;
}

.computerScore {
    padding: 25px;
    font-size: 22px;
}

.playerChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.computerChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.gameMessage {
}

button {
    color: rgb(194, 138, 138);
    background-color: rgb(101, 93, 93);
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 50px;
}


